<p>This will also delete your sections (<span class="fw-bold text-primary">@SectionCount</span>) in the Collection.</p>

@code {

    [Parameter, EditorRequired]
    public int SectionCount { get; set; }

}